{
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "preact"
  ],
  "settings": {
    "jest": {
      "version": 29
    }
  },
  "rules": {
    "no-unused-vars": "error",
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "object-curly-spacing": [
      2,
      "never"
    ],
    "react/jsx-sort-props": [
      2,
      {
        "ignoreCase": true
      }
    ]
  }
}